<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plus.ruoyi.system.oss.mapper.SysOssDirectoryMapper">

    <select id="selectChildrenByAncestors" resultType="plus.ruoyi.system.oss.domain.SysOssDirectory">
        select *
        from sys_oss_directory
        where ancestors like concat('%,', #{ancestorId}, ',%')
           or ancestors like concat('%,', #{ancestorId})
           or ancestors like concat(#{ancestorId}, ',%')
    </select>
</mapper>
