<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 从Spring配置读取日志路径 -->
    <springProperty scope="context" name="log.path" source="logging.file.path" defaultValue="./logs/ruoyi-snailjob-server"/>
    <property name="console.log.pattern"
              value="%cyan(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}%n) - %msg%n"/>
    <property name="log.pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console.log.pattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!-- SnailJob appender -->
    <appender name="snail_log_server_appender"
              class="com.aizuda.snailjob.server.common.appender.SnailJobServerLogbackAppender">
    </appender>

    <!-- 开发环境配置 -->
    <springProfile name="!prod">
        <!-- 开发环境设置日志级别为INFO -->
        <root level="info">
            <!-- 开发环境只需要控制台输出和SnailJob appender -->
            <appender-ref ref="console"/>
            <appender-ref ref="snail_log_server_appender"/>
        </root>
    </springProfile>

    <!-- 生产环境配置 -->
    <springProfile name="prod">
        <!-- 控制台输出到文件 -->
        <appender name="file_console" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}/console.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${log.path}/console.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>1</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${log.pattern}</pattern>
                <charset>utf-8</charset>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
        </appender>

        <!-- INFO级别日志 -->
        <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}/info.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${log.path}/info.%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>60</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${log.pattern}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>INFO</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- ERROR级别日志 -->
        <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}/error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${log.path}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
                <MaxHistory>60</MaxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${log.pattern}</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <!-- 异步INFO日志 -->
        <appender name="async_info" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>100</discardingThreshold>
            <queueSize>1024</queueSize>
            <appender-ref ref="file_info"/>
        </appender>

        <!-- 异步ERROR日志 -->
        <appender name="async_error" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>100</discardingThreshold>
            <queueSize>1024</queueSize>
            <appender-ref ref="file_error"/>
        </appender>

        <!-- 生产环境设置日志级别为INFO -->
        <root level="info">
            <!-- 生产环境使用全套日志配置 -->
            <appender-ref ref="console"/>                <!-- 控制台输出 -->
            <appender-ref ref="file_console"/>           <!-- 控制台内容文件备份 -->
            <appender-ref ref="async_info"/>             <!-- 异步INFO日志 -->
            <appender-ref ref="async_error"/>            <!-- 异步ERROR日志 -->
            <appender-ref ref="snail_log_server_appender"/> <!-- SnailJob appender -->
        </root>
    </springProfile>

</configuration>
